*{
    padding: 0;
    margin: 0;
}

:root{
    --primary: #24d1d1;
    --secondary: #fff;
}

.main{
    display: flex;
}

.sidebar{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 500px;
    background-color: var(--primary);
    height: 100vh;

    gap: 20px;
}

.form{
    padding-top: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    
    gap: 15px;

    align-items: center;
    justify-content: center;
}

.form-subdiv{
    display: flex;
    width: 100%;
}

.label{
    width: 100%;
    font-weight: bolder;
    font-size: 1.25rem;
}

.input{
    width: 100%;
    max-height: 500px;
    height: 25px;
    border-radius: 10px;

    outline: none;
    border-style: none;

    padding: 0 10px;
}

#description{
    height: 200px;
    max-height: 200px;
    padding: 10px 10px;
    text-indent: 0;

    max-width: 100%;
}

.select{
    width: 250px;
}

#deadline{
    width: 230px;
}

.submit-btn{
    margin-top: 20px;
    width: 100%;
    height: 30px;
    border-style: none;
    border-radius: 10px;

    font-weight: bolder;
    font-size: 1.25rem;
}

.submit-btn:hover{
    cursor: pointer;
}

#content{
    display: flex;
    flex-direction: column;

    width: 80%;

    align-items: center;

    padding-top: 25px;

    gap: 30px;
}

.task-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    padding: 15px;
    border-style: none;
    border-radius: 10px;

    box-shadow: 0px 0px 20px var(--primary);

    position:relative;
    z-index: 1;
    background-color: #fff;
}

.todo-container{
    width: 90%;
    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: #fff;
}

.description-container{

    padding: 15px;
    margin-top: 0px;

    border-style: none;
    border-radius: 0 0 10px 10px;

    box-shadow: 0px 20px 30px var(--primary);
    width: 80%;

    z-index: 2;
    background-color: #f6fdfd;
}

.todo-container:hover{
    /* cursor: pointer; */
}

.todo-title{
    font-weight: bolder;
    font-size: 1.25rem;

    width: 100%;
}

.todo-title:hover{
    cursor: pointer;
}

.todo-priority{
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.todo-priority:hover{
    cursor: pointer;
}

.high{
    background-color: red;
}

.regular{
    background-color: orange;
}

.low{
    background-color: greenyellow;
}

.todo-subdiv{
    display: flex;
    gap: 30px;

    font-size: 1.1rem;
}

.todo-subdiv > *{
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: black;
    padding-left: 20px;
}

.priority-subdiv{
    display: flex;
    gap: 10px;

    align-items: center;
}

.deadline-subdiv{
    display: flex;
    gap: 10px;

    min-width: 170px;

    align-items: center;
}

.actions-subdiv{
    display: flex;
    gap: 10px;
}

.checkmark{
    color: green;
}

.delete-task{
    color: orangered;
}

.checkmark:hover{
    cursor: pointer;
}

.delete-task:hover{
    cursor: pointer;
}

.hidden{
    display: none;
}

.filter-container{
    display: flex;
    flex-direction: row;

    width: 92.5%;

    gap: 15px;

    flex-wrap: wrap;
}

.category-div{
    font-weight: bold;


    padding: 10px 15px;
    border-style: none;
    border-radius: 10px;

    box-shadow: 0px 0px 20px var(--primary);
}

.category-div:hover{
    cursor: pointer;
}

.category-form{
    display: flex;
    flex-direction: column;
}

.category-subdiv{
    display: flex;
}

.category-list{
    background-color: #fff;
    min-height: 200px;
    max-height: 200px;
    width: 80%;

    border-radius: 10px;

    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    overflow-y: scroll;
}

.category-list-subdiv{
    display: flex;
    justify-content: space-between;
}

.category-delete{
    background-color: orangered;
    border-radius: 10px;
    width: 60px;

    border-style: none;
    height: 25px;
}

.category-delete:hover{
    cursor: pointer;
}

.description-text{
    word-wrap:break-word;
}

#all-content{
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 25px;
}

.task-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.completed{
    opacity: 50%;
}