*{
    margin: 0;
    padding: 0;
}

.body{

}

.body-top{
    height: 50vh;

    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.top-left{
    display: flex;
    flex-direction: column;

    gap: 150px;
}

.set-rise-container{
    display: flex;
    flex-direction: column;

    gap: 25px;
}

.set-rise-div{
    display: flex;

    align-items: center;
    gap: 10px;

    background-color: lightgray;
    padding: 10px;
    border-radius: 20px;
    width: 250px;
}

.body-bottom{
    height: 50vh;
}



.set-rise-img{
    width: 50px;
}